body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: #333333;
}
h1 {
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    line-height: 140%;
}

nav a{
    text-decoration: none;
}

div a {
    text-decoration: none;
}

div a:link {
    color: #000000;
}

div a:hover {
    color: #00008b;
}